---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="svg-link" viewBox="0 0 24 24">
            <title>Link</title>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link">
                <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
            </svg>
        </symbol>
        <symbol id="svg-search" viewBox="0 0 24 24">
            <title>Search</title>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
        </symbol>
        <symbol id="svg-menu" viewBox="0 0 24 24">
            <title>Menu</title>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </symbol>
        <symbol id="svg-arrow-right" viewBox="0 0 24 24">
            <title>Expand</title>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
        </symbol>
        <symbol id="svg-doc" viewBox="0 0 24 24">
            <title>Document</title>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2

              2a2 2 0 0 0 2-2V9z"></path>
                <polyline points="13 2 13 9 20 9"></polyline>
            </svg>
        </symbol>
    </svg>

    <div class="side-bar">
        <div class="site-header">
            <a href="{{ '/' | absolute_url }}" class="site-title lh-tight">{% include title.html %}</a>
            <a href="#" id="menu-button" class="site-button">
                <svg viewBox="0 0 24 24" class="icon"><use xlink:href="#svg-menu"></use></svg>
            </a>
        </div>
        <nav role="navigation" aria-label="Main" id="site-nav" class="site-nav">
            {% include nav/main.html %}
        </nav>
        <!--     <footer class="site-footer">
              This site uses <a href="https://github.com/pmarsceill/just-the-docs">Just the Docs</a>, a documentation theme for Jekyll.
            </footer> -->
    </div>
    <div class="pb"></div>
    <div class="main" id="top">
        <div id="main-header" class="main-header">
            {% if site.search_enabled != false %}
            <div class="search">
                <div class="search-input-wrap">
                    <input type="text" id="search-input" class="search-input" tabindex="0" placeholder="Search {{ site.title }}" aria-label="Search {{ site.title }}" autocomplete="off">
                    <label for="search-input" class="search-label"><svg viewBox="0 0 24 24" class="search-icon"><use xlink:href="#svg-search"></use></svg></label>
                </div>
                <div id="search-results" class="search-results"></div>
            </div>
            {% endif %}
            {% include header_custom.html %}
            {% if site.aux_links %}
            <nav aria-label="Auxiliary" class="aux-nav">
                <ul class="aux-nav-list">
                    {% for link in site.aux_links %}
                    <li class="aux-nav-list-item">
                        <a href="{{ link.last }}" class="site-button"  {%- if link.first == "Store" -%} style="background-color: #3E885B; color:white; border: 1px solid white; font-weight: 700;"{% endif %}
                           {% if site.aux_links_new_tab %}
                           target="_blank" rel="noopener noreferrer"
                           {% endif %}>
                            {{ link.first }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            {% endif %}
        </div>
        <div id="main-content-wrap" class="main-content-wrap">

            {% if page.parent and page.url != "/" %}
            {% include nav/crumbs.html nodes=nav_page_ancestors %}
            {% endif %}

            <div id="main-content" class="main-content" role="main">
                {% if site.heading_anchors != false %}
                {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
                <h1> ModalAI Technical Documentation</h1>
                <p>
                   Welcome to ModalAI's technical documentation. ModalAI's goal is to have a complete, fully documented, development environment for using its products for autonomous aerial and ground vehicles. If you see something missing, please contribute <a href="#"> Here</a> or ask for help <a href="#"> Here</a>.
                </p>
                <div class="row" style="text-align:left;">
                    <div class="col-8 col-12-medium">

                        <!-- Content -->
                        <article class="box post" style="box-shadow:none; border:none; padding-top:1em;">

                            
                            <header style="padding-top:0;">
                                <h1 style="margin-top:0;">VOXL 2</h1>
                                <p>The world's smallest and most capable autopilot</p>
                            </header>
                            
                            <div style="justify-content: center; display: flex;">
                                <iframe style="border-radius: 15px; display: flex; width: 100%; height: 300px;" src="https://www.youtube.com/embed/n5ADLNWpL1o" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                            <div style="text-align:left;">
                                <p>
                                    VOXL 2, powered by Qualcomm Flight RB5 technology, elevates the DIU's Blue UAS Framework with advancements in autonomy,
                                    artificial intelligence, and 5G. VOXL 2 combines a premium-tier companion computer and flight controller into a single SWAP-optimized PCB to enable smaller, smarter,
                                    and safer drones and robots.
                                </p>
                            </div>
                            <div style="text-align:left;">
                                <h2> Autonomy</h2>
                                <ul>
                                    <li> 16g, 70x36mm SWaP-optimized for GPS-denied Navigation, Obstacle Avoidance</li>

                                    <li>
                                        Powered by Qualcomm QRB5165: 8 cores up to 3.091GHz, 8GB LPDDR5
                                    </li>
                                    <li> Abundance of perception capabilities including seven MIPI image sensor inputs which can include up to three stereo image sensor pairs, 8K30, PMD ToF</li>
                                    <li> Pre-integrated payloads include an EO/IR gimbal, FLIR Lepton and Boson</li>
                                    <li> Open-source software: Open CV, ROS2, Docker, PX4 integrated flight controller</li>
                                    <li> Integrated flight controller on DSP with TDK ICM-42688 IMU and ICP-10111 Barometer</li>
                                </ul>
                                <h2> Artificial Intelligence</h2>
                                <ul>
                                    <li> The QRB5165's Qualcomm AI Engine pushes 15 TOPS of AI performance with industry leading power consumption'</li>
                                    <li> Onboard QRB5165: Hexagon Tensor Accelerator, GPU, DSP, NPU</li>
                                    <li> Perception models such as object segmentation and depth from mono</li>
                                    <li> GPU-accelerated TensorFlow Lite</li>
                                </ul>
                                <h2> Connectivity </h2>
                                <ul>
                                    <li> LTE or 5G Modem for Cellular Carrier-based or private networks</li>
                                    <li> Microhard and Doodle Labs Helix</li>
                                    <li> Long-range Wi-Fi Link Add-On</li>
                                </ul>
                            </div>
                            <section>
                                <header>
                                </header>
                                <a href="#" class="image featured">
                                    <img src="/images/voxl2/m0054-hero-f.png" alt="m0054-hero-f" />
                                </a>
                            </section>

                        </article>

                    </div>
                    <div class="col-4 col-12-medium">

                        <!-- Sidebar -->
                        <section class="box">
                            <a href="#" class="image featured"><img style="border-radius:15px" src="/images/voxl2/voxl2promo.jpg" alt="" /></a>
                            <header>
                            </header>
                            <p> Learn more about ModalAI and see our online store</p>
                            <footer>
                                <a href="https://www.modalai.com/" style="background:none; margin:0;"><button type="button" class="btn2"> Home</button></a>

                            </footer>
                        </section>
                        <section class="box">
                            <header>
                                <i class="fa fa-fw fa-question" style="background-color: #258ea6; color: #fff; font-size: 17px; line-height: 17px; padding: 13px; border-radius: 50%; margin-right: 5px; min-width: 46px; min-height: 46px; margin-top: 2px; "></i>
                                <i class="fa fa-fw fa-book" style="background-color: #eb5e28; color: #fff; font-size: 17px; line-height: 17px; padding: 13px; border-radius: 50%; margin-right: 5px; min-width: 46px; min-height: 46px; margin-top: 2px; "></i>
                                <i class="fa fa-fw fa-space-shuttle" style="background-color: #2e6837; color: #ffffff; font-size: 17px; line-height: 17px; padding: 13px; border-radius: 50%; margin-right: 5px; min-width: 46px; min-height: 46px; margin-top: 2px; "></i>
                                <i class="fa fa-fw fa-code" style="background-color: #30323d; color: #ffffff; font-size: 17px; line-height: 17px; padding: 13px; border-radius: 50%; margin-right: 5px; min-width: 46px; min-height: 46px; margin-top: 2px; "></i>

                            </header>
                            <p> Have questions? Need support? Check out the ModalAI forum to get help from our Dev team and to see answered questions</p>
                            <footer>
                                <a href="https://forum.modalai.com/" style="background:none; margin:0;"><button type="button" class="btn2"> Forum</button></a>

                            </footer>
                        </section>
                        <a class="twitter-timeline" data-height="1200" data-theme="light" href="https://twitter.com/modal_ai?ref_src=twsrc%5Etfw">Loading...</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
                 <hr />
                <div style="margin-bottom: 2em;">
                    <h2> Quick Links </h2>
                </div>
                <div class="row" style="text-align:left;">

                    <div class="col-4 col-12-medium">
                        <!-- Sidebar -->

                        <section class="box">
                            <a href="#" class="image featured"><img src="/images/voxl2/m0054-hero-f.png" alt="" /></a>
                            <header>
                                <h3>VOXL 2</h3>
                            </header>
                            <p> VOXL 2 is ModalAI's next-gen autonomous computing platform built around the QRB5165 processor.</p>
                            <footer>
                                <a href="#" style="background:none; margin:0;"><button type="button" class="btn2" style="margin-right:1em;">See Docs</button></a>

                            </footer>
                        </section>
                        <section class="box">
                            <a href="#" class="image featured"><img src="/images/sentinel/sentinel-front-clear.png" alt="" /></a>
                            <header>
                                <h3>Sentinel</h3>
                            </header>
                            <p>Sentinel combines a premium-tier companion computer and flight controller into a single SWAP-optimized PCB to enable smaller, smarter, and safer drones and robots</p>
                            <footer>
                                <a href="#" style="background:none; margin:0;"><button type="button" class="btn2" style="margin-right:1em;">See Docs</button></a>

                            </footer>
                        </section>

                    </div>
                    <div class="col-4 col-12-medium">
                        <!-- Sidebar -->
                        <section class="box">
                            <a href="#" class="image featured"><img src="/images/voxl2-flight-deck/voxl2-deck-hero.png" alt="" /></a>
                            <header>
                                <h3>VOXL 2 Flight Deck</h3>
                            </header>
                            <p>ModalAI's most advanced fully assembled and calibrated flight kit to date.</p>
                            <footer>
                                <a href="#" style="background:none; margin:0;"><button type="button" class="btn2" style="margin-right:1em;">See Docs</button></a>

                            </footer>
                        </section>
                        <section class="box">
                            <a href="#" class="image featured"><img src="images/voxl-cam/voxl-cam-front.png" alt="" /></a>
                            <header>
                                <h3>VOXL Cam</h3>
                            </header>
                            <p>VOXL CAM is a state-of-the art, fully integrated robot perception system</p>
                            <footer>
                                <a href="#" style="background:none; margin:0;"><button type="button" class="btn2" style="margin-right:1em;">See Docs</button></a>

                            </footer>
                        </section>

                    </div>
                    <div class="col-4 col-12-medium">
                        <!-- Sidebar -->

                        <section class="box">
                            <a href="#" style="margin-bottom: 2em; " class="image featured"><img src="images/voxl/voxl-whiteb.png" alt="" /></a>
                            <header>
                                <h3>VOXL</h3>
                            </header>
                            <p>VOXL is ModalAI's autonomous computing platform built around the Snapdragon 821.</p>
                            <footer>
                                <a href="#" style="background:none; margin:0;"><button type="button" class="btn2" style="margin-right:1em;">See Docs</button></a>
                            </footer>
                        </section>
                        <section class="box">
                            <a href="#" style="margin-bottom: 3em;" class="image featured"><img src="images/seeker/Seeker-whitebackg.png" alt="" /></a>
                            <header>
                                <h3>Seeker</h3>
                            </header>
                            <p> The world's first SLAM development drone with SWAP-optimized sensors and payloads optimized for indoor and outdoor navigation.</p>
                            <footer>
                                <a href="#" style="background:none; margin:0;"><button type="button" class="btn2" style="margin-right:1em;">See Docs</button></a>

                            </footer>
                        </section>

                    </div>
                </div>
                {% else %}

                {% endif %}

                {% unless page.has_toc == false %}
                {% include nav/toc3.html nodes=nav_page_children %}
                {% endunless %}


                {% capture footer_custom %}
                {%- include footer_custom.html -%}
                {% endcapture %}
                {% if footer_custom != "" or site.last_edit_timestamp or site.gh_edit_link %}
                <hr>
                <footer>
                    {% if site.back_to_top %}
                    <p><a href="#top" id="back-to-top">{{ site.back_to_top_text }}</a></p>
                    {% endif %}

                    {{ footer_custom }}

                    {% if site.last_edit_timestamp or site.gh_edit_link %}
                    <div class="d-flex mt-2">
                        {% if site.last_edit_timestamp and site.last_edit_time_format and page.last_modified_date %}
                        <p class="text-small text-grey-dk-000 mb-0 mr-2">
                            Page last modified: <span class="d-inline-block">{{ page.last_modified_date | date: site.last_edit_time_format }}</span>.
                        </p>
                        {% endif %}
                        {% if
                        site.gh_edit_link and
                        site.gh_edit_link_text and
                        site.gh_edit_repository and
                        site.gh_edit_branch and
                        site.gh_edit_view_mode
                        %}
                        <p class="text-small text-grey-dk-000 mb-0">
                            <a href="{{ site.gh_edit_repository }}/{{ site.gh_edit_view_mode }}/{{ site.gh_edit_branch }}{% if site.gh_edit_source %}/{{ site.gh_edit_source }}{% endif %}/{{ page.path }}" id="edit-this-page">{{ site.gh_edit_link_text }}</a>
                        </p>
                        {% endif %}
                    </div>
                    {% endif %}
                </footer>
                {% endif %}

                {% if site.footer_content != nil %}
                <hr>
                <footer role="contentinfo">
                </footer>
                {% endif %}


            </div>
        </div>

        {% if site.search_enabled != false %}
        {% if site.search.button %}
        <a href="#" id="search-button" class="search-button">
            <svg viewBox="0 0 24 24" class="icon"><use xlink:href="#svg-search"></use></svg>
        </a>
        {% endif %}

        <div class="search-overlay"></div>
        {% endif %}
    </div>


    <style>


        .container {
            margin: 0 auto;
            max-width: 100%;
            width: 70em;
        }

        @media screen and (max-width: 1680px) {

            .container {
                width: 70em;
            }
        }

        @media screen and (max-width: 1280px) {

            .container {
                width: calc(100% - 60px);
            }
        }

        @media screen and (max-width: 980px) {

            .container {
                width: calc(100% - 80px);
            }
        }

        @media screen and (max-width: 736px) {

            .container {
                width: calc(100% - 40px);
            }
        }

        /* Row */

        .row {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
        }

            .row > * {
                box-sizing: border-box;
            }

            .row.gtr-uniform > * > :last-child {
                margin-bottom: 0;
            }

            .row.aln-left {
                justify-content: flex-start;
            }

            .row.aln-center {
                justify-content: center;
            }

            .row.aln-right {
                justify-content: flex-end;
            }

            .row.aln-top {
                align-items: flex-start;
            }

            .row.aln-middle {
                align-items: center;
            }

            .row.aln-bottom {
                align-items: flex-end;
            }

            .row > .imp {
                order: -1;
            }

            .row > .col-1 {
                width: 8.33333%;
            }

            .row > .off-1 {
                margin-left: 8.33333%;
            }

            .row > .col-2 {
                width: 16.66667%;
            }

            .row > .off-2 {
                margin-left: 16.66667%;
            }

            .row > .col-3 {
                width: 25%;
            }

            .row > .off-3 {
                margin-left: 25%;
            }

            .row > .col-4 {
                width: 33.33333%;
            }

            .row > .off-4 {
                margin-left: 33.33333%;
            }

            .row > .col-5 {
                width: 41.66667%;
            }

            .row > .off-5 {
                margin-left: 41.66667%;
            }

            .row > .col-6 {
                width: 50%;
            }

            .row > .off-6 {
                margin-left: 50%;
            }

            .row > .col-7 {
                width: 58.33333%;
            }

            .row > .off-7 {
                margin-left: 58.33333%;
            }

            .row > .col-8 {
                width: 66.66667%;
            }

            .row > .off-8 {
                margin-left: 66.66667%;
            }

            .row > .col-9 {
                width: 75%;
            }

            .row > .off-9 {
                margin-left: 75%;
            }

            .row > .col-10 {
                width: 83.33333%;
            }

            .row > .off-10 {
                margin-left: 83.33333%;
            }

            .row > .col-11 {
                width: 91.66667%;
            }

            .row > .off-11 {
                margin-left: 91.66667%;
            }

            .row > .col-12 {
                width: 100%;
            }

            .row > .off-12 {
                margin-left: 100%;
            }

            .row.gtr-0 {
                margin-top: 0px;
                margin-left: 0px;
            }

                .row.gtr-0 > * {
                    padding: 0px 0 0 0px;
                }

                .row.gtr-0.gtr-uniform {
                    margin-top: 0px;
                }

                    .row.gtr-0.gtr-uniform > * {
                        padding-top: 0px;
                    }

            .row.gtr-25 {
                margin-top: -12.5px;
                margin-left: -12.5px;
            }

                .row.gtr-25 > * {
                    padding: 12.5px 0 0 12.5px;
                }

                .row.gtr-25.gtr-uniform {
                    margin-top: -12.5px;
                }

                    .row.gtr-25.gtr-uniform > * {
                        padding-top: 12.5px;
                    }

            .row.gtr-50 {
                margin-top: -25px;
                margin-left: -25px;
            }

                .row.gtr-50 > * {
                    padding: 25px 0 0 25px;
                }

                .row.gtr-50.gtr-uniform {
                    margin-top: -25px;
                }

                    .row.gtr-50.gtr-uniform > * {
                        padding-top: 25px;
                    }

        .row {
            margin-top: -50px;
            margin-left: -50px;
        }

            .row > * {
                padding: 50px 0 0 50px;
            }

            .row.gtr-uniform {
                margin-top: -50px;
            }

                .row.gtr-uniform > * {
                    padding-top: 50px;
                }

            .row.gtr-150 {
                margin-top: -75px;
                margin-left: -75px;
            }

                .row.gtr-150 > * {
                    padding: 75px 0 0 75px;
                }

                .row.gtr-150.gtr-uniform {
                    margin-top: -75px;
                }

                    .row.gtr-150.gtr-uniform > * {
                        padding-top: 75px;
                    }

            .row.gtr-200 {
                margin-top: -100px;
                margin-left: -100px;
            }

                .row.gtr-200 > * {
                    padding: 100px 0 0 100px;
                }

                .row.gtr-200.gtr-uniform {
                    margin-top: -100px;
                }

                    .row.gtr-200.gtr-uniform > * {
                        padding-top: 100px;
                    }

        @media screen and (max-width: 1680px) {

            .row {
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;
                align-items: stretch;
            }

                .row > * {
                    box-sizing: border-box;
                }

                .row.gtr-uniform > * > :last-child {
                    margin-bottom: 0;
                }

                .row.aln-left {
                    justify-content: flex-start;
                }

                .row.aln-center {
                    justify-content: center;
                }

                .row.aln-right {
                    justify-content: flex-end;
                }

                .row.aln-top {
                    align-items: flex-start;
                }

                .row.aln-middle {
                    align-items: center;
                }

                .row.aln-bottom {
                    align-items: flex-end;
                }

                .row > .imp-xlarge {
                    order: -1;
                }

                .row > .col-1-xlarge {
                    width: 8.33333%;
                }

                .row > .off-1-xlarge {
                    margin-left: 8.33333%;
                }

                .row > .col-2-xlarge {
                    width: 16.66667%;
                }

                .row > .off-2-xlarge {
                    margin-left: 16.66667%;
                }

                .row > .col-3-xlarge {
                    width: 25%;
                }

                .row > .off-3-xlarge {
                    margin-left: 25%;
                }

                .row > .col-4-xlarge {
                    width: 33.33333%;
                }

                .row > .off-4-xlarge {
                    margin-left: 33.33333%;
                }

                .row > .col-5-xlarge {
                    width: 41.66667%;
                }

                .row > .off-5-xlarge {
                    margin-left: 41.66667%;
                }

                .row > .col-6-xlarge {
                    width: 50%;
                }

                .row > .off-6-xlarge {
                    margin-left: 50%;
                }

                .row > .col-7-xlarge {
                    width: 58.33333%;
                }

                .row > .off-7-xlarge {
                    margin-left: 58.33333%;
                }

                .row > .col-8-xlarge {
                    width: 66.66667%;
                }

                .row > .off-8-xlarge {
                    margin-left: 66.66667%;
                }

                .row > .col-9-xlarge {
                    width: 75%;
                }

                .row > .off-9-xlarge {
                    margin-left: 75%;
                }

                .row > .col-10-xlarge {
                    width: 83.33333%;
                }

                .row > .off-10-xlarge {
                    margin-left: 83.33333%;
                }

                .row > .col-11-xlarge {
                    width: 91.66667%;
                }

                .row > .off-11-xlarge {
                    margin-left: 91.66667%;
                }

                .row > .col-12-xlarge {
                    width: 100%;
                }

                .row > .off-12-xlarge {
                    margin-left: 100%;
                }

                .row.gtr-0 {
                    margin-top: 0px;
                    margin-left: 0px;
                }

                    .row.gtr-0 > * {
                        padding: 0px 0 0 0px;
                    }

                    .row.gtr-0.gtr-uniform {
                        margin-top: 0px;
                    }

                        .row.gtr-0.gtr-uniform > * {
                            padding-top: 0px;
                        }

                .row.gtr-25 {
                    margin-top: -12.5px;
                    margin-left: -12.5px;
                }

                    .row.gtr-25 > * {
                        padding: 12.5px 0 0 12.5px;
                    }

                    .row.gtr-25.gtr-uniform {
                        margin-top: -12.5px;
                    }

                        .row.gtr-25.gtr-uniform > * {
                            padding-top: 12.5px;
                        }

                .row.gtr-50 {
                    margin-top: -25px;
                    margin-left: -25px;
                }

                    .row.gtr-50 > * {
                        padding: 25px 0 0 25px;
                    }

                    .row.gtr-50.gtr-uniform {
                        margin-top: -25px;
                    }

                        .row.gtr-50.gtr-uniform > * {
                            padding-top: 25px;
                        }

            .row {
                margin-top: -50px;
                margin-left: -50px;
            }

                .row > * {
                    padding: 50px 0 0 50px;
                }

                .row.gtr-uniform {
                    margin-top: -50px;
                }

                    .row.gtr-uniform > * {
                        padding-top: 50px;
                    }

                .row.gtr-150 {
                    margin-top: -75px;
                    margin-left: -75px;
                }

                    .row.gtr-150 > * {
                        padding: 75px 0 0 75px;
                    }

                    .row.gtr-150.gtr-uniform {
                        margin-top: -75px;
                    }

                        .row.gtr-150.gtr-uniform > * {
                            padding-top: 75px;
                        }

                .row.gtr-200 {
                    margin-top: -100px;
                    margin-left: -100px;
                }

                    .row.gtr-200 > * {
                        padding: 100px 0 0 100px;
                    }

                    .row.gtr-200.gtr-uniform {
                        margin-top: -100px;
                    }

                        .row.gtr-200.gtr-uniform > * {
                            padding-top: 100px;
                        }
        }

        @media screen and (max-width: 1280px) {

            .row {
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;
                align-items: stretch;
            }

                .row > * {
                    box-sizing: border-box;
                }

                .row.gtr-uniform > * > :last-child {
                    margin-bottom: 0;
                }

                .row.aln-left {
                    justify-content: flex-start;
                }

                .row.aln-center {
                    justify-content: center;
                }

                .row.aln-right {
                    justify-content: flex-end;
                }

                .row.aln-top {
                    align-items: flex-start;
                }

                .row.aln-middle {
                    align-items: center;
                }

                .row.aln-bottom {
                    align-items: flex-end;
                }

                .row > .imp-large {
                    order: -1;
                }

                .row > .col-1-large {
                    width: 8.33333%;
                }

                .row > .off-1-large {
                    margin-left: 8.33333%;
                }

                .row > .col-2-large {
                    width: 16.66667%;
                }

                .row > .off-2-large {
                    margin-left: 16.66667%;
                }

                .row > .col-3-large {
                    width: 25%;
                }

                .row > .off-3-large {
                    margin-left: 25%;
                }

                .row > .col-4-large {
                    width: 33.33333%;
                }

                .row > .off-4-large {
                    margin-left: 33.33333%;
                }

                .row > .col-5-large {
                    width: 41.66667%;
                }

                .row > .off-5-large {
                    margin-left: 41.66667%;
                }

                .row > .col-6-large {
                    width: 50%;
                }

                .row > .off-6-large {
                    margin-left: 50%;
                }

                .row > .col-7-large {
                    width: 58.33333%;
                }

                .row > .off-7-large {
                    margin-left: 58.33333%;
                }

                .row > .col-8-large {
                    width: 66.66667%;
                }

                .row > .off-8-large {
                    margin-left: 66.66667%;
                }

                .row > .col-9-large {
                    width: 75%;
                }

                .row > .off-9-large {
                    margin-left: 75%;
                }

                .row > .col-10-large {
                    width: 83.33333%;
                }

                .row > .off-10-large {
                    margin-left: 83.33333%;
                }

                .row > .col-11-large {
                    width: 91.66667%;
                }

                .row > .off-11-large {
                    margin-left: 91.66667%;
                }

                .row > .col-12-large {
                    width: 100%;
                }

                .row > .off-12-large {
                    margin-left: 100%;
                }

                .row.gtr-0 {
                    margin-top: 0px;
                    margin-left: 0px;
                }

                    .row.gtr-0 > * {
                        padding: 0px 0 0 0px;
                    }

                    .row.gtr-0.gtr-uniform {
                        margin-top: 0px;
                    }

                        .row.gtr-0.gtr-uniform > * {
                            padding-top: 0px;
                        }

                .row.gtr-25 {
                    margin-top: -7.5px;
                    margin-left: -7.5px;
                }

                    .row.gtr-25 > * {
                        padding: 7.5px 0 0 7.5px;
                    }

                    .row.gtr-25.gtr-uniform {
                        margin-top: -7.5px;
                    }

                        .row.gtr-25.gtr-uniform > * {
                            padding-top: 7.5px;
                        }

                .row.gtr-50 {
                    margin-top: -15px;
                    margin-left: -15px;
                }

                    .row.gtr-50 > * {
                        padding: 15px 0 0 15px;
                    }

                    .row.gtr-50.gtr-uniform {
                        margin-top: -15px;
                    }

                        .row.gtr-50.gtr-uniform > * {
                            padding-top: 15px;
                        }

            .row {
                margin-top: -30px;
                margin-left: -30px;
            }

                .row > * {
                    padding: 30px 0 0 30px;
                }

                .row.gtr-uniform {
                    margin-top: -30px;
                }

                    .row.gtr-uniform > * {
                        padding-top: 30px;
                    }

                .row.gtr-150 {
                    margin-top: -45px;
                    margin-left: -45px;
                }

                    .row.gtr-150 > * {
                        padding: 45px 0 0 45px;
                    }

                    .row.gtr-150.gtr-uniform {
                        margin-top: -45px;
                    }

                        .row.gtr-150.gtr-uniform > * {
                            padding-top: 45px;
                        }

                .row.gtr-200 {
                    margin-top: -60px;
                    margin-left: -60px;
                }

                    .row.gtr-200 > * {
                        padding: 60px 0 0 60px;
                    }

                    .row.gtr-200.gtr-uniform {
                        margin-top: -60px;
                    }

                        .row.gtr-200.gtr-uniform > * {
                            padding-top: 60px;
                        }
        }

        @media screen and (max-width: 980px) {

            .row {
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;
                align-items: stretch;
            }

                .row > * {
                    box-sizing: border-box;
                }

                .row.gtr-uniform > * > :last-child {
                    margin-bottom: 0;
                }

                .row.aln-left {
                    justify-content: flex-start;
                }

                .row.aln-center {
                    justify-content: center;
                }

                .row.aln-right {
                    justify-content: flex-end;
                }

                .row.aln-top {
                    align-items: flex-start;
                }

                .row.aln-middle {
                    align-items: center;
                }

                .row.aln-bottom {
                    align-items: flex-end;
                }

                .row > .imp-medium {
                    order: -1;
                }

                .row > .col-1-medium {
                    width: 8.33333%;
                }

                .row > .off-1-medium {
                    margin-left: 8.33333%;
                }

                .row > .col-2-medium {
                    width: 16.66667%;
                }

                .row > .off-2-medium {
                    margin-left: 16.66667%;
                }

                .row > .col-3-medium {
                    width: 25%;
                }

                .row > .off-3-medium {
                    margin-left: 25%;
                }

                .row > .col-4-medium {
                    width: 33.33333%;
                }

                .row > .off-4-medium {
                    margin-left: 33.33333%;
                }

                .row > .col-5-medium {
                    width: 41.66667%;
                }

                .row > .off-5-medium {
                    margin-left: 41.66667%;
                }

                .row > .col-6-medium {
                    width: 50%;
                }

                .row > .off-6-medium {
                    margin-left: 50%;
                }

                .row > .col-7-medium {
                    width: 58.33333%;
                }

                .row > .off-7-medium {
                    margin-left: 58.33333%;
                }

                .row > .col-8-medium {
                    width: 66.66667%;
                }

                .row > .off-8-medium {
                    margin-left: 66.66667%;
                }

                .row > .col-9-medium {
                    width: 75%;
                }

                .row > .off-9-medium {
                    margin-left: 75%;
                }

                .row > .col-10-medium {
                    width: 83.33333%;
                }

                .row > .off-10-medium {
                    margin-left: 83.33333%;
                }

                .row > .col-11-medium {
                    width: 91.66667%;
                }

                .row > .off-11-medium {
                    margin-left: 91.66667%;
                }

                .row > .col-12-medium {
                    width: 100%;
                }

                .row > .off-12-medium {
                    margin-left: 100%;
                }

                .row.gtr-0 {
                    margin-top: 0px;
                    margin-left: 0px;
                }

                    .row.gtr-0 > * {
                        padding: 0px 0 0 0px;
                    }

                    .row.gtr-0.gtr-uniform {
                        margin-top: 0px;
                    }

                        .row.gtr-0.gtr-uniform > * {
                            padding-top: 0px;
                        }

                .row.gtr-25 {
                    margin-top: -10px;
                    margin-left: -10px;
                }

                    .row.gtr-25 > * {
                        padding: 10px 0 0 10px;
                    }

                    .row.gtr-25.gtr-uniform {
                        margin-top: -10px;
                    }

                        .row.gtr-25.gtr-uniform > * {
                            padding-top: 10px;
                        }

                .row.gtr-50 {
                    margin-top: -20px;
                    margin-left: -20px;
                }

                    .row.gtr-50 > * {
                        padding: 20px 0 0 20px;
                    }

                    .row.gtr-50.gtr-uniform {
                        margin-top: -20px;
                    }

                        .row.gtr-50.gtr-uniform > * {
                            padding-top: 20px;
                        }

            .row {
                margin-top: -40px;
                margin-left: -40px;
            }

                .row > * {
                    padding: 40px 0 0 40px;
                }

                .row.gtr-uniform {
                    margin-top: -40px;
                }

                    .row.gtr-uniform > * {
                        padding-top: 40px;
                    }

                .row.gtr-150 {
                    margin-top: -60px;
                    margin-left: -60px;
                }

                    .row.gtr-150 > * {
                        padding: 60px 0 0 60px;
                    }

                    .row.gtr-150.gtr-uniform {
                        margin-top: -60px;
                    }

                        .row.gtr-150.gtr-uniform > * {
                            padding-top: 60px;
                        }

                .row.gtr-200 {
                    margin-top: -80px;
                    margin-left: -80px;
                }

                    .row.gtr-200 > * {
                        padding: 80px 0 0 80px;
                    }

                    .row.gtr-200.gtr-uniform {
                        margin-top: -80px;
                    }

                        .row.gtr-200.gtr-uniform > * {
                            padding-top: 80px;
                        }
        }

        @media screen and (max-width: 736px) {

            .row {
                display: flex;
                flex-wrap: wrap;
                box-sizing: border-box;
                align-items: stretch;
            }

                .row > * {
                    box-sizing: border-box;
                }

                .row.gtr-uniform > * > :last-child {
                    margin-bottom: 0;
                }

                .row.aln-left {
                    justify-content: flex-start;
                }

                .row.aln-center {
                    justify-content: center;
                }

                .row.aln-right {
                    justify-content: flex-end;
                }

                .row.aln-top {
                    align-items: flex-start;
                }

                .row.aln-middle {
                    align-items: center;
                }

                .row.aln-bottom {
                    align-items: flex-end;
                }

                .row > .imp-small {
                    order: -1;
                }

                .row > .col-1-small {
                    width: 8.33333%;
                }

                .row > .off-1-small {
                    margin-left: 8.33333%;
                }

                .row > .col-2-small {
                    width: 16.66667%;
                }

                .row > .off-2-small {
                    margin-left: 16.66667%;
                }

                .row > .col-3-small {
                    width: 25%;
                }

                .row > .off-3-small {
                    margin-left: 25%;
                }

                .row > .col-4-small {
                    width: 33.33333%;
                }

                .row > .off-4-small {
                    margin-left: 33.33333%;
                }

                .row > .col-5-small {
                    width: 41.66667%;
                }

                .row > .off-5-small {
                    margin-left: 41.66667%;
                }

                .row > .col-6-small {
                    width: 50%;
                }

                .row > .off-6-small {
                    margin-left: 50%;
                }

                .row > .col-7-small {
                    width: 58.33333%;
                }

                .row > .off-7-small {
                    margin-left: 58.33333%;
                }

                .row > .col-8-small {
                    width: 66.66667%;
                }

                .row > .off-8-small {
                    margin-left: 66.66667%;
                }

                .row > .col-9-small {
                    width: 75%;
                }

                .row > .off-9-small {
                    margin-left: 75%;
                }

                .row > .col-10-small {
                    width: 83.33333%;
                }

                .row > .off-10-small {
                    margin-left: 83.33333%;
                }

                .row > .col-11-small {
                    width: 91.66667%;
                }

                .row > .off-11-small {
                    margin-left: 91.66667%;
                }

                .row > .col-12-small {
                    width: 100%;
                }

                .row > .off-12-small {
                    margin-left: 100%;
                }

                .row.gtr-0 {
                    margin-top: 0px;
                    margin-left: 0px;
                }

                    .row.gtr-0 > * {
                        padding: 0px 0 0 0px;
                    }

                    .row.gtr-0.gtr-uniform {
                        margin-top: 0px;
                    }

                        .row.gtr-0.gtr-uniform > * {
                            padding-top: 0px;
                        }

                .row.gtr-25 {
                    margin-top: -5px;
                    margin-left: -5px;
                }

                    .row.gtr-25 > * {
                        padding: 5px 0 0 5px;
                    }

                    .row.gtr-25.gtr-uniform {
                        margin-top: -5px;
                    }

                        .row.gtr-25.gtr-uniform > * {
                            padding-top: 5px;
                        }

                .row.gtr-50 {
                    margin-top: -10px;
                    margin-left: -10px;
                }

                    .row.gtr-50 > * {
                        padding: 10px 0 0 10px;
                    }

                    .row.gtr-50.gtr-uniform {
                        margin-top: -10px;
                    }

                        .row.gtr-50.gtr-uniform > * {
                            padding-top: 10px;
                        }

            .row {
                margin-top: -20px;
                margin-left: -20px;
            }

                .row > * {
                    padding: 20px 0 0 20px;
                }

                .row.gtr-uniform {
                    margin-top: -20px;
                }

                    .row.gtr-uniform > * {
                        padding-top: 20px;
                    }

                .row.gtr-150 {
                    margin-top: -30px;
                    margin-left: -30px;
                }

                    .row.gtr-150 > * {
                        padding: 30px 0 0 30px;
                    }

                    .row.gtr-150.gtr-uniform {
                        margin-top: -30px;
                    }

                        .row.gtr-150.gtr-uniform > * {
                            padding-top: 30px;
                        }

                .row.gtr-200 {
                    margin-top: -40px;
                    margin-left: -40px;
                }

                    .row.gtr-200 > * {
                        padding: 40px 0 0 40px;
                    }

                    .row.gtr-200.gtr-uniform {
                        margin-top: -40px;
                    }

                        .row.gtr-200.gtr-uniform > * {
                            padding-top: 40px;
                        }
        }

        /* Form */

        form label {
            display: block;
            color: #252122;
            font-weight: 400;
            margin: 0 0 0.5em 0;
        }

        form input[type=text],
        form input[type=email],
        form input[type=password],
        form select,
        form textarea {
            -webkit-appearance: none;
            display: block;
            border: 0;
            padding: 0.75em 1em;
            font-size: 1em;
            border-radius: 5px;
            border: solid 1px #dddddd;
            background: #fff;
            width: 100%;
        }

            form input[type=text]:focus,
            form input[type=email]:focus,
            form input[type=password]:focus,
            form select:focus,
            form textarea:focus {
                box-shadow: inset 0px 0px 1px 1px #43bff0;
            }

        form textarea {
            height: 15em;
        }

        form ::-webkit-input-placeholder {
            color: #555 !important;
        }

        form :-moz-placeholder {
            color: #555 !important;
        }

        form ::-moz-placeholder {
            color: #555 !important;
        }

        form :-ms-input-placeholder {
            color: #555 !important;
        }

        form ::-moz-focus-inner {
            border: 0;
        }

        /* Tables */

        table {
            width: 100%;
        }

            table tr {
                border-top: solid 1px #dddddd;
            }

                table tr:first-child {
                    border-top: 0;
                }

            table td {
                padding: 0.5em 1em 0.5em 1em;
            }

            table th {
                text-align: left;
                padding: 0.5em 1em 0.5em 1em;
                font-weight: 700;
                margin: 0 0 1em 0;
            }

            table thead {
                border-bottom: solid 2px #dddddd;
            }

       
        /* Box */

        .box {
            background: #ffffff;
            border-bottom: solid 1px #ccc;
            padding: 2.75em 1.75em 2.75em 1.75em;
            margin-bottom: 2em;
        }

            .box .image.featured {
                position: relative;
                width: auto;
                left: 1.75em;
                top: 1.75em;
                margin: -4.5em 0 4.25em -3.5em;
            }

            .box.post header {
                padding-top: 1em;
                margin: 0 0 2em 0;
            }

            .box.post h2 {
                font-size: 2.5em;
                letter-spacing: -0.015em;
            }

            .box.post header > p {
                margin-top: 1.25em;
                font-size: 1.25em;
            }

            .box footer ul.actions {
                margin-bottom: 0;
            }


        .image {
            display: inline-block;
            outline: 0;
        }

            .image img {
                display: block;
                width: 99%;
                margin-left: 1px;
                margin-top: 1px;
            }

            .image.centered {
                display: block;
                margin: 0 0 2em 0;
            }

                .image.centered img {
                    margin: 0 auto;
                    width: auto;
                }

            .image.featured {
                display: block;
                width: 100%;
                margin: 0 0 2em 0;
            }

            .image.left {
                float: left;
                margin: 0 2em 2em 0;
            }

    </style>

</body>
</html>
